/* App.css */

/* Grilla de 3x3 */
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Consultas de medios */
@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
